*{
    /*outline: 1px solid red;*/
    font-family: 'Noto Sans', sans-serif;
}
html , body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #049372;
}
.progress{
    display: flex;
    background-color: #ecf0f1;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
}
.scroll-navbar{
    background-color: #ecf0f1;
}
.scroll-navbar ul li{
    padding: 0px 10px 0px 10px !important;
    color: #23754b !important;
}
.scroll-navbar ul li img{
    width: 30px !important;
    height: 30px !important;
}
.fe-navbar{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;

-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-navbar ul{
    display: flex;
    flex-direction: row;
}
.fe-navbar ul li:nth-child(1){
    flex: 1;
    justify-content: flex-start;
    margin-left: 100px;
}
.fe-navbar ul li:nth-child(4){
    margin-right: 150px;
}
.fe-navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ecf0f1;
-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-navbar ul li img{
    width: 50px;
    height: 50px;

-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
.fe-section,.fe-footer{
    display: flex;
    flex-direction: column;
}
.intro-section{
    background: url("../images/intro-bg.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}
.intro{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.composition{
    background-color: white;
    height: 70vh;
    flex-wrap: wrap;
}
.intro p{
    font-family: 'Roboto', sans-serif !important;
    color: #ECECEC;
    margin-left: 150px;
    font-weight: 100;
    font-size: 40px;
}

.composition {
    display: flex;
    flex-direction: row;
}
.composition div {
    padding:20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.composition figure{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.composition div:nth-child(1) figure img{
    height: 150px;
}
.composition div:nth-child(2) figure img{
    width: 200px;
}
.composition div:nth-child(3) figure img{
    height: 120px;
}
.composition figure img{
    width: 100px;    
    height: 100px;
}
.composition div h1{
    display: flex;
}
.composition div p{
    text-align: center;
}
.fe-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23754b;
}
.fe-footer div{
    display: flex;
    flex: 1;
}
.fe-footer div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.fe-footer p{
    color: #BFBFBF;
}
.fe-footer div:nth-child(1) p{
    font-size: 25px;
    color: white;
}
.fe-footer a{
    padding: 10px;
    font-size: 20px;
    text-decoration-line: none;
    color: white;
}
.fe-footer div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fe-footer div:nth-child(1) p{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-indent: 140px;
}
.fe-footer div:nth-child(1) form{
    height: 400px;
    width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fe-footer div input{
    padding: 5px;
    border: none;
}
.fe-footer input, .fe-footer textarea{
    background-color: #ECF0F1;
}
#no-js{
    display: none;

    -webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}