*{
    /*outline: 1px solid red;*/
    font-family: 'Noto Sans', sans-serif;
}
html , body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #049372;
}
.progress,.fe-navbar ul,.fe-navbar ul li,.fe-wrapper,.fe-section,.fe-footer,.intro,.composition ,.composition  div,.composition figure,
.composition div h1,.fe-footer ,.fe-footer div:nth-child(2),.fe-footer div:nth-child(1),.fe-footer div:nth-child(1) p,.fe-footer div:nth-child(1) form,
.fe-loader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.progress,.fe-navbar ul li,.fe-navbar ul li,.composition figure,.fe-footer,.fe-footer div:nth-child(2),.fe-footer div:nth-child(1),.fe-loader{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.progress,.fe-navbar ul li,.intro,.composition div,.composition figure,.fe-footer,.fe-footer div:nth-child(2),.fe-footer div:nth-child(1),.fe-footer div:nth-child(1) p,.fe-loader{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fe-navbar ul,.composition,.fe-footer{
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
}
.fe-section,.fe-footer,.fe-wrapper,.composition div,.fe-footer div:nth-child(2),.fe-footer div:nth-child(1),.fe-footer div:nth-child(1) form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.progress{
    background-color: #ecf0f1;
    height: 100%;
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
}
.scroll-navbar{
    background-color: #ecf0f1;
}
.scroll-navbar ul li a{
    color: #23754b !important;
}
.scroll-navbar ul li{
    padding: 0px 10px 0px 10px !important;
}
.scroll-navbar ul li img{
    width: 30px !important;
    height: 30px !important;
}
.fe-navbar{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;

-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-navbar ul,.composition,.fe-footer{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.fe-navbar ul li:nth-child(1){
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 100px;
}
.fe-navbar ul li:nth-child(4){
    margin-right: 150px;
}

.fe-navbar ul li a{
    text-decoration: none;
    color: #ecf0f1;
}
.fe-navbar ul li{
    padding: 10px;

-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-navbar ul li img{
    width: 50px;
    height: 50px;

-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-wrapper{
    min-height: 100%;
}
.intro-section{
    background: url("../images/intro-bg.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}
.intro{
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.composition{
    background-color: white;
}
.intro p{
    font-family: 'Roboto', sans-serif !important;
    color: #ECECEC;
    margin-left: 150px;
    font-weight: 100;
    font-size: 40px;
}
.composition div {
    padding:20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.composition figure{
    width: 200px;
    height: 150px;
}
.composition div:nth-child(1) figure img{
    height: 150px;
}
.composition div:nth-child(2) figure img{
    width: 200px;
}
.composition div:nth-child(3) figure img{
    height: 120px;
}
.composition figure img{
    width: 100px;    
    height: 100px;
}
.composition div p{
    text-align: center;
}
.fe-footer{
    background-color: #23754b;
}
.fe-footer div{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.fe-footer div:nth-child(2){
    height: 100%;
}
.fe-footer p{
    color: #BFBFBF;
}
.fe-footer div:nth-child(1) p{
    font-size: 25px;
    color: white;
}
.fe-footer a{
    padding: 10px;
    font-size: 20px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: white;
}
.fe-footer div:nth-child(1){
    height: 100%;
}
.fe-footer div:nth-child(1) p{
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fe-footer div:nth-child(1) form{
    height: 400px;
    width: 400px; 
    -ms-flex-pack: distribute; 
        justify-content: space-around;
}
.fe-footer div input{
    padding: 5px;
    border: none;
}
.fe-footer input, .fe-footer textarea{
    background-color: #ECF0F1;
}
#no-js{
    display: none;

    -webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); 
        transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}
.fe-loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
}