@media screen and (max-width: 1140px){
    .intro p{
        width: 100%;
        margin: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        font-size: 25px;
    }
}
@media screen and (max-width: 900px){
    .fe-footer{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }
    .fe-footer div:nth-child(1) form{
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .fe-footer div:nth-child(1) p{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-indent: 0;
    }
    .fe-footer input, .fe-footer textarea{
        width: 70vw;
    }
}
@media screen and (max-width: 700px){
    .scroll-navbar ul li{
        padding: 7px 0 7px 0 !important;        
    }
    .fe-navbar ul li:nth-child(1){
        margin-left: 0px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: none;
    }
    .fe-navbar ul li:nth-child(5){
        margin-right: 0;
    }
    .fe-navbar ul{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0;
        margin: 0;
    }
    .fe-navbar ul li{
        width: 100%;
    }
}
@media screen and (max-width: 587px) {
    .composition{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }
    .composition div {
        padding: 0;
    }
    .composition div:nth-child(1) figure{
        width: 100px;
    }
    .composition div:nth-child(2) figure{
        width: 120px;
        height: 100px;
    }
    .composition div:nth-child(3) figure{
        width: 100px;
        height: 120px;
    }
    .composition div:nth-child(2) figure img{
        width: 120px;
    }
}